<!DOCTYPE html>
<html style="overflow: hidden;" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <link rel="shortcut icon">
    <!-- END SHORTCUT ICON -->
    <title>小莱信息化管理系统</title>
    <div th:replace="~{/base/link::link}"></div>
</head>
<body onpageshow='event.persisted&amp;&amp;(function(){var x=CKEDITOR.instances,d,i;for(i in x){d=x[i].document;if(d){d.$.designMode="off";d.$.designMode="on";}}})();;event.persisted&amp;&amp;(function(){var x=CKEDITOR.instances,d,i;for(i in x){d=x[i].document;if(d){d.$.designMode="off";d.$.designMode="on";}}})();'>
<section id="container">
    <div th:replace="~{/base/body::body}"></div>


    <section id="main-content">

        <section class="wrapper">
            <div class="row" id="askforleavebar">
                <div class="col-lg-12">
                    <section class="panel">
                        <div class="panel-body">
                            <form class="form-inline" id="mhcx" role="form" action="/meetings">
                                <div class="form-group">
                                    <label class="sr-only" for="num">标题：</label> <input th:value="${title}"
                                                                                        class="form-control"
                                                                                        name="title" placeholder="标题"
                                                                                        type="text">
                                </div>
                                <button type="submit" class="btn btn-round btn-info" id="search_but">检索</button>
                                <button type="reset" class="btn btn-round btn-default" id="clean_but">清空</button>
                                <button type="button" class="btn  btn-info" id="add_but"
                                        onclick="location.href='/meetings/getView'" style="margin-left:10px;">添加
                                </button>
                                <button type="button" class="btn  btn-info" id="add_but" onclick="updateMeeting()"
                                        style="margin-left:10px;">编辑
                                </button>
                                <button type="button" class="btn  btn-info" id="add_but" onclick="deleteMeeting()"
                                        style="margin-left:10px;">删除
                                </button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" id="askforleave_main">

                    <section class="panel">
                        <header class="panel-heading">
                            <span class="label label-primary">会议列表 </span>
                        </header>
                        <div class="panel-body">
                            <section id="unseen">
                                <table class="table table-bordered table-striped table-condensed" id="askforleavelist">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">
                                        </th>
                                        <th>序号</th>
                                        <th>发布人</th>
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <th>标题</th>
                                        <th>会议内容</th>
                                        <th>会议地址</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <form action="/meetings" id="deleteForm" method="post">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <tr th:each="meeting:${meetings}" th:object="${meeting}">

                                            <td style="text-align: center">
                                                <input name="ids" th:value="*{id}" id="sel" type="checkbox">
                                            </td>
                                            <td th:text="*{id}">1</td>
                                            <td th:text="*{emp.name}">测试</td>
                                            <td th:text="*{#dates.format(startTime,'yyyy-MM-dd HH:mm')}"
                                                th:datetime="*{startTime}">2018-02-10
                                            </td>
                                            <td th:text="*{#dates.format(endTime,'yyyy-MM-dd HH:mm')}">2018-02-10</td>
                                            <td th:text="*{title}">下午讨论项目需求</td>
                                            <td th:text="*{content}">下午讨论项目需求</td>
                                            <td th:text="*{address}">办公室</td>
                                        </tr>

                                    </form>
                                    </tbody>
                                </table>

                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="dataTables_info" id="example_info">
                                            当前共有<span class="number" style="color: red;"
                                                      th:text="${page.total}">2 </span>条记录
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                            <ul>

                                                <li class="prev"><a
                                                        th:href="@{/meetings(pages=1,title=${title==null?'':title})}">首页</a>
                                                </li>


                                                <li th:if="${page.getCurrent() ne 1}" class="prev disabled"><a
                                                        th:href="@{/meetings(pages=${page.getCurrent() - 1},title=${title==null?'':title})}">上一页</a>
                                                </li>


                                                <li>
                                                    <a th:if="${page.getCurrent() > 1}"
                                                       th:href="@{/meetings(pages=${page.getCurrent() - 1},title=${title==null?'':title})}"><span
                                                            class="thispage" id="thisPage"
                                                            style="height: 18px; padding-top: 2px !important;"
                                                            th:text="${page.getCurrent()-1}"> 1
				</span></a></li>
                                                <li class="active">
                                                    <a th:href="@{/meetings(pages=${page.getCurrent()},title=${title==null?'':title})}"><span
                                                            class="thispage" id="thisPage"
                                                            style="height: 18px; padding-top: 2px !important;"
                                                            th:text="${page.getCurrent()}"> 1
				</span></a></li>
                                                <li><a th:if="${page.getCurrent() < page.pages}"
                                                       th:href="@{/meetings(pages=${page.getCurrent() + 1},title=${title==null?'':title})}"><span
                                                        class="thispage" id="thisPage"
                                                        style="height: 18px; padding-top: 2px !important;"
                                                        th:text="${page.getCurrent()+1}"> 1
				</span></a></li>


                                                <li th:if="${page.getCurrent() ne page.pages}" class="prev disabled"><a
                                                        th:href="@{/meetings(pages=${page.getCurrent()+1},title=${title==null?'':title})}">下一页</a>
                                                </li>


                                                <li class="prev disabled"><a
                                                        th:href="@{/meetings(pages=${page.pages},title=${title==null?'':title})}">尾页</a>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <!-- END MAIN CONTENT -->
    <!-- BEGIN FOOTER -->

    <footer class="site-footer" style="position:fixed;bottom:0px;left:0px;width:100% !important;">
        <div class="text-center">
            2018 © 小莱信息化管理系统 <a href="#" class="go-top"> <i class="fa fa-angle-up"> </i>
        </a>
        </div>
    </footer>
</section>
<div th:replace="~{/base/js::js}"></div>
<script>
    //knob
    $(".knob").knob();
</script>
<script type="text/javascript">

    function deleteMeeting() {

        var r = document.getElementsByName("ids");
        var flag = false;
        for (var i = 0; i < r.length; i++) {
            if (r[i].checked) {

                flag = true;
                break;
            }
        }
        if (flag) {
            $('#deleteForm').submit();

        } else {
            alert("请选择一条数据删除！！！")
        }

    }

    function updateMeeting() {

        var r = document.getElementsByName("ids");
        var flag = false;
        var num = 0;
        for (var i = 0; i < r.length; i++) {
            if (r[i].checked) {

                flag = true;
                num++;
            }
        }
        if (flag == false) {
            alert("请选择一条数据修改！！！");
        } else if (num > 1) {

            alert("不能选择多条数据修改！！！");
        } else {
            $("#deleteForm").attr('action', "/meetings/getView");
            $('#deleteForm').submit();
        }

    }


</script>

</body>
</html>